@font-face {
    font-family: Nanum-Gothic;
    src: url(./fonts/NanumGothic-Regular.ttf);
}

@font-face {
    font-family: Nanum-Gothic-Bold;
    src: url(./fonts/NanumGothic-Bold.ttf);
}

body {
    background-color: #EFECEB;
    font-family: Nanum-Gothic;
    margin: 0;
    padding: 0;
}

header {
    margin: 0 50px;
    font-size: 20px;
    position: sticky;
    top: 0px;
    background-color: #EFECEB;
    margin: 0;
    padding: 10px 70px;
}

h2 {
    font-size: 32px;
}

p {
    color: #939190;
}

.header_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_nav ul {
    display: flex;
    gap: 4rem;
    list-style-type: none;
    align-items: center;
}

.name {
    color: rgb(208, 127, 20);
    font-family: Nanum-Gothic-Bold;
}

.contact_btn {
    background-color: rgb(208, 127, 20);
    border: 1px solid rgb(208, 127, 20);
    font-family: inherit;
    font-size: inherit;
    border-radius: 15px;
    color: white;
    height: 40px;
    width: 100px;
}

.banner {
    display: grid;
    grid-template-areas: "heading image"
                         "subheading image";
    margin: 80px;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 20px;
}

.banner_heading {
    grid-area: heading;
    font-size: 64px;
}

.banner_subheading {
    grid-area: subheading;
}

.banner_image {
    grid-area: image;
    height: auto;
    width: 100%;
    max-width: 600px;
    min-width: 300px;
    justify-self: center;
}

.final {
    margin: 80px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.final img {
    max-width: 500px;
    height: auto;
    width: 100%;
    min-width: 300px;
}

footer {
    display: flex;
    justify-content: space-between;
    padding: 20px 120px;
    background-color: black;
    color: white;
}

.footer_icon {
    width: 30px;
    filter: invert(100);
    margin: 0 10px;
}