@font-face {
    font-family: Nanum-Gothic;
    src: url(./fonts/NanumGothic-Regular.ttf);
}

@font-face {
    font-family: Nanum-Gothic-Bold;
    src: url(./fonts/NanumGothic-Bold.ttf);
}

@font-face {
    font-family: Ubuntu-Light;
    src: url(./fonts/Ubuntu-Light.ttf);
}

@font-face {
    font-family: Ubuntu-Medium;
    src: url(./fonts/Ubuntu-Medium.ttf);
}

@font-face {
    font-family: Ubuntu-Regular;
    src: url(./fonts/NanumGothic-Regular.ttf);
}

@font-face {
    font-family: Ubuntu-Bold;
    src: url(./fonts/Ubuntu-Bold.ttf);
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: var(--scroll-padding);
}

body {
    background-color: #EFECEB;
    margin: 0;
    padding: 0;
}

body main {
    background-color: #EFECEB;
    /* font-family: Ubuntu-Medium; */
    margin: 0;
    padding: 0;
}

body main, body footer {
    animation: fadein 2s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

header {
    margin: 0 50px;
    font-size: 20px;
    position: sticky;
    top: 0px;
    background-color: #EFECEB;
    margin: 0;
    padding: 20px 70px;
    z-index: 10;
}

h2 {
    font-size: 32px;
}

p {
    color: #939190;
}

.header_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profileInfo {
    max-width: 1500px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.header_nav ul {
    display: flex;
    gap: 4rem;
    list-style-type: none;
    align-items: center;
}

.header_nav a {
    font-family: Ubuntu-Medium;
    text-decoration: none;
    color: black;
}

.desktop-nav a:nth-child(-n + 2)::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #000;
    transition: width .3s;
}

.desktop-nav a:nth-child(-n + 2):hover::after {
    width: 100%;
}

.name {
    color: hsl(34, 82%, 45%);
    font-family: Ubuntu-Medium;
}

.desktop-nav  {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

#contact_btn, #sendBtn, .returnBtn {
    background-color: hsl(34, 82%, 45%);
    border: solid hsl(34, 82%, 45%);
    border-radius: 15px;
    color: white;
    padding: 10px 15px;
    cursor: pointer;
    font-family: Ubuntu-Medium;
}

#contact_btn:hover, #sendBtn:hover, .returnBtn:hover {
    transition: 200ms ease-in-out;
    background-color: hsl(34, 79%, 51%);
    border: solid hsl(34, 79%, 51%);
}

.hamburger {
    display: block;
    width: 35px;
    cursor: pointer;

    appearance: none;
    background: none;
    outline: none;
    border: none;
}

.hamburger .bar, .hamburger::after, .hamburger::before {
    content: '';
    display: block;
    width: 30px;
    height: 5px;
    background-color: hsl(34, 82%, 45%);
    margin: 6px 0px;
    transition: 0.4s;
    border-radius: 20px;
}

.hamburger.is-active::before {
    transform: rotate(-45deg) translate(-8px, 6px);
}

.hamburger.is-active::after {
    transform: rotate(45deg) translate(-9px, -8px);
}

.hamburger.is-active .bar {
    opacity: 0;
}

.mobile-nav {
    display: block;
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    min-height: 100vh;
    z-index: 9;
    background-color:rgba(238, 236, 235, 0.5);
    backdrop-filter: blur(30px);
    padding-top: 120px;
    transition: 0.4s;
}

.mobile-nav.is-active {
    left: 0;
}

.mobile-nav a {
    display: block;
    text-align: center;
    margin-bottom: 16px;
    padding: 12px 16px;
    font-family: Ubuntu-Medium;
    text-decoration: none;
    color: rgb(0, 0, 0);
    transition: color 200ms ease-in-out;
    max-width: 200px;
    margin: 60px auto;
    font-size: 32px;
}

.mobile-nav a:hover {
    color: hsl(34, 82%, 45%);
}


.banner {
    align-items: center;
    gap: 20px;
    margin-bottom: 50px;
    font-family: Ubuntu-Regular;
}

.banner_heading {
    grid-area: heading;
    font-size: 64px;
}

.banner_subheading {
    margin: 50px 50px 50px 50px;
}

.banner_subheading > h2 {
    font-family: Ubuntu-Medium;
    margin-bottom: 0px;
    color: hsl(34, 82%, 45%);
}

.banner_subheading > p {
    font-family: Ubuntu-Regular;
    margin-top: 5px;
}

@keyframes morph {
    0% {
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }

    20% {
        border-radius: 50% 30% 20% 60%/50% 20% 60% 30%;
    }

    40% {
        border-radius: 70% 60% 50% 90%/80% 50% 50% 60%;
    }

    60% {
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }

    40% {
        border-radius: 50% 30% 20% 60%/50% 20% 40% 30%;
    }

    80% {
        border-radius: 70% 60% 50% 90%/80% 50% 90% 60%;
    }

    100% {
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
}

.hero-img {
    animation: morph 8s ease-in-out infinite;
    background-image: url(./assets/profilePic.jpg);
    height: 25rem;
    width: 35rem;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    border: 3px solid #2d2e32;
    transition: all 1s ease-in-out;
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
}

.aboutMeContainer {
    display: flex;
    margin: 50px 30px 20px 30px;
    align-items: center;
    gap: 50px;
    max-width: 1500px;
}

.final {
    margin: 80px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.final img {
    max-width: 500px;
    height: auto;
    width: 100%;
    min-width: 100px;
}

footer {
    display: flex;
    justify-content: space-between;
    padding: 12px 30px;
    background-color: black;
    color: white;
    align-items: center;
    gap: 20px;
}

.footer_icon_container {
    display: flex;
}

.footer_icon {
    width: 30px;
    filter: invert(100);
    margin: 0 10px;
}

.footer_icon2 {
    width: 50px;
    margin: 0 20px;
}

.project {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 500px));
    margin: 80px;
    justify-content: space-evenly;
    gap: 5rem 3rem;
    margin-top: 10px;
}

.project h3, .final_heading, footer {
    font-family: Ubuntu-Medium;
}

.project p, .final_subheading {
    font-family: Ubuntu-Light;
}

.card_container {
    position: relative;
    transition: all .1s ease-in;
    right: 0;
    bottom: 0;
    border-radius: 22px;
    animation: fadein 3s;
    border: #EFECEB solid 1px;
    background-color: #ffffff7b;
}

.card_container_bottom {
    margin: 0 20px;
}

.card_container:hover {
    transform: scale(1.05);
    box-shadow: 0 0 40px rgba(33,33,33,.8);
    border: #DDD9D6 solid 1px;
  }


.image_container {
    padding-bottom: 0;
    background-color: #DDD9D6;
    border-radius: 20px 20px 1px 1px;
    display: flex;
    justify-content: center;
}

.image_container img {
    height: auto;
    width: 90%;
    padding: 30px 30px 0px 30px;
}

.view_btn {
    background-color: hsl(186, 74%, 41%);
    border: 1px solid hsl(186, 74%, 41%);
    font-size: 0.8rem;
    border-radius: 5px;
    color: white;
    height: 30px;
    width: 100px;
    transition: all .2s ease-in-out;
}

.view_btn:hover {
    background-color: hsl(34, 82%, 45%);
    border: 1px solid hsl(34, 82%, 45%);
    cursor: pointer;
}

.project_btns {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    position: relative;
    margin-bottom: 20px;
}

.description {
    min-height: 4.5rem;
}

.contactForm {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 50px;
}

.contactForm > input, .contactForm > textarea {
    border-radius: 20px;
    background-color: white;
    color: black;
    padding: 15px;
    border: solid white;
    max-width: 1000px;
    width: 80%;
    transition: all .3s ease-in-out;
    font-family: Ubuntu-Regular;
}

.contactForm > input:hover, .contactForm > textarea:hover {
    border: solid hsl(34, 82%, 45%);
}

#message {
    height: 300px;
}

.thankYouContainer {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.thankYouContainer > div {
    width: 150px;
}

.sendSymbol, .contactPlatformImgContainer img {
    max-width: 100%;
    object-fit: contain;
}

.returnBtn {
    text-decoration: none;
}

.contactMainContainer {
    display: flex;
    flex-direction: column;
}

.contactMainContainer > div {
    align-self: center;
    gap: 20px;
}

.contactMainContainer > h2 {
    margin-top: 50px;
    align-self: center;
    color: hsl(34, 82%, 45%);
    font-size: 45px;
    font-family: Ubuntu-Medium;
    text-align: center;
}

.contactMainContainer > hr{
    width: 80%;
    background-color: rgb(214, 214, 214);
    margin-top: 30px;
}

.contactPlatformImgContainer {
    width: 200px;
    border-radius: 20px;
    padding: 5px;
}

.contactLinkContainer {
    display: flex;
    align-items: center;
    margin-top: 30px;
    font-family: Ubuntu-Regular;
}

.contactLinkWrapper {
    display: flex;
    flex-direction: column;
}

.contactInnerText {
    align-self: center;
}

/* ----------------------------------- Media Query ------------------------------ */
@media (min-width: 768px) {
    .mobile-nav {
        display: none;
    }

    .hamburger {
        display: none;
    }
    
    
}

@media (max-width: 768px) {
    .desktop-nav a {
        display: none;
    }

    .aboutMeContainer {
        flex-direction: column;
        gap: 0px;
    }

    .hero-img {
        width: 25rem;
    }

    .banner_heading {
        font-size: 50px;
        text-align: center;
    }

    .banner_links {
        display: flex;
        justify-content: center;
    }

    .final {
        grid-template-columns: 1fr;
        margin: 50px;
    }

    .final img {
        justify-self: center;
    }

}

@media (max-width: 500px) {
    .hero-img {
        width: 20rem;
        height: 20rem;
    }

    .banner_heading {
        font-size: 40px;
    }

    .footer_icon2 {
        width: 40px;
    }

    footer {
        flex-direction: column;
    }

    .final_heading {
        font-size: 19px;
    }

}

@media (max-width: 460px) {

    header {
        padding: 30px 30px;
    }

    .contactPlatformImgContainer {
        width: 150px;
    }

    .contactInnerText {
        margin: 0;
    }
}


@media (max-width: 375px) {
    header {
        padding: 30px 20px;
    }

    .hero-img {
        width: 15rem;
        height: 15rem;
    }

    .contactLinkContainer {
        flex-direction: column;
    }
}


